<div class="page-header">
  <h3 class="page-title">
    Edit Webinar
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/webinars">Webinars</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Webinar</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" [formGroup]="editForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12">
              <div class="form-group">
                <label for="webinar-title">Title</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="title" />
              </div>
              <div class="form-group">
                <label for="webinar-url">URL</label><span class="text-danger">*</span>
                <input type="text" formControlName="url" class="form-control" />
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
              <div class="form-group">
                <label for="webinar-date">Date Time</label><span class="text-danger">*</span>
                <input type="text" id="date_time" formControlName="date_time" class="form-control" />
              </div>
              <div class="form-group" *ngIf="auth_user.role == 'admin'">
                <label for="webinar-title">Instructors</label><span class="text-danger">*</span>
                <select class="form-control" formControlName="instructors" (change)="onSelectChange($event)">
                  <option *ngFor="let instructor of users" value="{{ instructor.id }}">{{ instructor.name }}</option>
                </select>
              </div>

              <div class="form-group" *ngIf="auth_user.role == 'instructor'">
                <input type="hidden" formControlName="instructors" value="{{ auth_user.id }}">
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12">
                  <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control" #fileInput />
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12">
                  <div class="form-group">
                    <label for="webinar-title">Co-Instructors</label>
                    <ng-multiselect-dropdown formControlName="co_instructors" [placeholder]="'select co-instructors'" [data]="co_users" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"></ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="webinar-title">Course</label>
                <select class="form-control" formControlName="course_id">
                  <option value="">select course</option>
                  <option *ngFor="let course of courses" value="{{ course.id }}">{{ course.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="webinar-short-description">Short Description</label><span class="text-danger">*</span>
                <textarea formControlName="short_description" rows="2" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label for="webinar-long-description">Long Description</label><span class="text-danger">*</span>
                <ck-editor formControlName="long_description" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
              </div>
              <button type="submit" class="btn btn-gradient-primary mr-2" id="submit_btn">Update</button>
              <a class="btn btn-light" routerLink='/webinars'>Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
