<div class="page-header">
  <h3 class="page-title">
    Edit Course
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/courses">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add New</li>
    </ol>
  </nav>
</div>

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#"  href="javascript:void(0);" routerLink="/courses/edit/{{ id }}/details">General <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" href="javascript:void(0);" routerLink="/courses/edit/{{ id }}/chapters">Syllabus</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="row">
  <div class="col grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form class="forms-sample" [formGroup]="editForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <input type="hidden" formControlName="id" name="id" />
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="exampleInputName1">Name</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="name" name="name">
              </div>
              <div class="form-group">
                <label>Category</label><span class="text-danger">*</span>
                <select class="form-control" formControlName="category_id" name="category_id">
                  <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Image</label>
                <input type="file" class="form-control" (change)="onFileChange($event)" name="image">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label>Price(AED)</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="price" name="price">
              </div>
              <div class="form-group">
                <label>Duration</label><span class="text-danger">*</span>
                <div class="input-group mb-3">
                  <input type="number" [min]="0" [step]="0.5" class="form-control" formControlName="duration" >
                  <div class="input-group-append">
                    <select class="form-control input-addon-select" formControlName="duration_units">
                      <option value="days">Days</option>
                      <option value="months">Months</option>
                      <option value="years">Years</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Short Description</label>
                <!-- <input type="text" class="form-control" formControlName="short_description" name="short_description"> -->
                <textarea rows="5" class="form-control" formControlName="short_description"></textarea>
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="exampleInputEmail3">Long Description</label>
            <textarea class="form-control" rows="8" cols="80" formControlName="long_description"></textarea>
          </div> -->
          <div class="row">
            <div class="col-sm-5">
            <div class="form-group">
              <label for="webinar-title">Instructors</label><span class="text-danger">*</span>
              <select class="form-control" formControlName="primary_instructor_id">
                <option *ngFor="let instructor of users" value="{{ instructor.id }}">{{ instructor.name }}</option>
              </select>
            </div>
          </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail3">Overview</label>
            <ck-editor formControlName="long_description" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
          </div>
          <div class="form-group">
            <label>Status</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" formControlName="status" value="1">
                Active
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" formControlName="status" value="0">
                Inactive
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
          <a class="btn btn-light" routerLink='/courses'>Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="../../js/file-upload.js"></script>
