<div class="page-header">
  <h3 class="page-title">
    Categories
  </h3>
  <a routerLink="/categories/add" class="btn btn-inverse-success">
    Add Categories <i class="mdi mdi-plus-circle"></i>
  </a>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories; let i = index;">
              <td>{{ category.name }}</td>
              <td>{{ category.description }}</td>
              <td>
                <button type="button" class="btn btn-inverse-danger btn-rounded btn-icon"  (click)="delete(category)">
                  <i class="mdi mdi-delete-forever"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
