<div class="page-header">
  <h3 class="page-title">
    Instructor Details
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/instructors">Instructors</a></li>
      <li class="breadcrumb-item active" aria-current="page">Single Instructor</li>
    </ol>
  </nav>
</div>
<div class="row">
  <div class="col grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xs-12">
            <div class="social-icon float-left">
              <div class="thumbnail">
                <img src="assets/images/faces/face1.jpg" />
              </div>
              <br>
              <div class="text-muted mb-2">
                <i class="mdi mdi-email text-primary"></i> {{ user.email }}
              </div>
              <div class="text-muted mb-2" *ngIf="user.contact_number">
                <i class="mdi mdi-phone text-primary"></i> {{ user.contact_number }}
              </div>
              <div class="text-muted mb-2" *ngIf="user.skype">
                <i class="mdi mdi-skype text-primary"></i> {{ user.skype }}
              </div>
              <a class="social" href="{{ user.twitter }}" target="_blank"><i class="mdi mdi-twitter btn btn-xs"></i></a>
              <a class="social" href="{{ user.facebook }}" target="_blank"><i class="mdi mdi-facebook btn btn-xs"></i></a>
              <a class="social" href="{{ user.google }}" target="_blank"><i class="mdi mdi-google-plus btn btn-xs"></i></a>
              <a class="social" href="{{ user.pinterest }}" target="_blank"><i class="mdi mdi-pinterest btn btn-xs"></i></a>
            </div>
          </div>
          <div class="col-md-9 col-lg-9 col-xs-12">
            <h2 class="section-title">{{user.name + ' ' +user.last_name}}</h2>
            <p *ngIf="user.biography"><b><u>Biography</u> </b><br><small>{{ user.biography }}</small></p>
            <p *ngIf="user.biography"><b><u>Short Info</u> </b><br><small>{{ user.short_description }}</small></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-lg-12 col-xs-12">
            <br>
            <br>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#courses">Enrolled Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#webinars">Enrolled Webinars</a>
              </li>
            </ul>

            <div class="tab-content">
              <br>
              <div id="courses" class="tab-pane active">
                <ul class="list-group" *ngIf="user.courses.length > 0; else elsepart">
                  <a href="#" routerLink="/courses/{{ course.id }}" *ngFor="let course of user.courses" class="list-group-item list-group-item-action">{{ course.name }}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.min-width.%]="2" [style.width.%]="course.course_completed_per">
                        {{ course.course_completed_per }}%
                      </div>
                    </div>
                  </a>
                </ul>
              </div>
              <ng-template #elsepart>
                <p class="text-muted">Instructor yet not enrolled any course.</p>
              </ng-template>
              <div id="webinars" class="tab-pane">
                <ul class="list-group" *ngIf="user.webinars.length > 0; else elsepartwebinar">
                  <li *ngFor="let webinar of user.webinars" class="list-group-item">
                    <a href="#" routerLink="/webinars" class=" list-group-item-action">{{ webinar.title }}<span class="float-right">{{ webinar.date_time }}</span></a><br>
                    <a target="_blank" href="{{ webinar.url }}"><small>Click to view</small></a>
                  </li>
                </ul>
              </div>
            </div>
            <ng-template #elsepartwebinar>
              <p class="text-muted">Instructor yet not enrolled any webinar.</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
